# This file is used to generate requirements.txt. 
# To update requirements.txt, run the following commands.
# 1) pip install pip-tools
# 2) pip-compile requirement.in

# IntelliSense
jedi-language-server==0.19.3
# Sort Imports
isort==5.3.2; python_version >= '3.6'
# DS Python daemon
python-jsonrpc-server==0.2.0
